<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.DishMapper">
    
    <resultMap id="dishMap" type="com.sky.vo.DishVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="categoryId" column="category_id"/>
        <result property="price" column="price"/>
        <result property="image" column="image"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="updateTime" column="update_time"/>
        <result property="categoryName" column="category_name"/>
        <collection property="flavors" ofType="com.sky.entity.DishFlavor">
            <id property="id" column="f_id"/>
            <result property="name" column="f_name"/>
            <result property="value" column="value"/>
            <result property="dishId" column="dish_id"/>
        </collection>
    </resultMap>

    <select id="getPage" resultType="com.sky.vo.DishVO">
        select d.*,c.name as categoryName from dish d
            left join category c on d.category_id = c.id
            <where>
                <if test="query.name != null and query.name != ''">
                    and d.name like concat('%',#{query.name},'%')
                </if>
                <if test="query.categoryId != null">
                    and d.category_id = #{query.categoryId}
                </if>
                <if test="query.status != null">
                    and d.status = #{query.status}
                </if>
            </where>
        order by d.update_time desc

    </select>

    <select id="getDishById" resultMap="dishMap" parameterType="java.lang.Long">
        select d.*,c.name as category_name,f.id as f_id,f.dish_id,f.name as f_name,f.value from dish d
            left join category c on d.category_id = c.id
            left join dish_flavor f on d.id = f.dish_id
        where d.id = #{id}
    </select>

</mapper>
